header h1 {
    text-align: center;
    font-size: 40px;
    color: red;
}

nav ul li a {
    text-decoration: none;
    color: blue;
    padding-left: 14cm;
    font-size: 40px;
}

nav ul li {
    list-style-type: none;
}

body {
    
    font-family: 'Crimson Pro', serif;
    background-image: url('seanbd.gif');
}

#sean1 {
    padding-left: 15%;
    
}

#rune1 {
    padding-left: 10%;
    
}

#rune2 {
    padding-left: 20%;
    
}
