body {
    background-color: #5f9ea0;
    
}

@media only screen
{    #unmute {
        font-size: 50px;
        background-color: yellow;
        text-decoration-color: black;
        display: inline-block;
        margin-left: 2%;
        cursor: pointer;
    }
}

#title {
    font-size: 60px;
    color: purple;
}

#demo {
    padding-bottom: 2500px;
    font-size: 50px;
    color: red;
}

#link {
    padding-left: 20%;
    font-size: 20px;
    color: pink;
}